
/*this is styles.css */
.inter-h1  {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 50px;
}
.inter-h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.inter-button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.source-sans-3-p {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.source-sans-3-p-smaller {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
}
.inter-nav {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.inter-news {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.inter-footer {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

svg { 
    display: block;
}
.nav-menu-button {
    background-color: #2B3652;
    color: #fff;
    display: flex;
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

}
.nav-menu-button svg {
    display: inline;
    height: 32px;
    width: 32px;
    margin-right: 5px;
}
.global-nav input {
    display: none;
}
.global-nav ul, .nav-sub-menu ul {
    list-style: none;
    padding: 0;
}
.nav-menu {
    background-color: #CAD0DC;
    display: none;
}
.nav-menu.is-open, .nav-sub-menu.is-open {
    display: block;
    position: absolute;
    z-index: 6;
    transition: transform 0.3s ease-out;
}
.nav-sub-menu-trigger:before{
    content: "\25be";
    float:right;
    color:#000;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-sub-menu {
    background-color: #E7E9EF;
    display: none;
}
.nav-sub-menu a {
    color: #000;
    text-decoration: none;
    margin-left:10px;
    margin-right:40px;
}
.global-nav ul li {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    text-transform: uppercase;
}
.global-nav ul li:last-child {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/* hero section */
.hero-container {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* @media (max-width: 767px) {
        height: 320px;
    } */
}
.link-container {
    /* display: flex;
    height: auto;
    position: relative;
    flex-wrap: wrap;
    bottom: 270px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 150px 150px 150px; */
    grid-template-rows: 88px 60px 120px;
    gap: 20px;
    position: relative;
    height: 100%;
    z-index: 5;
}
.link-container .hero-link {
    color: #fff;
    /* flex: 1 0 50%; */
    padding: 0;
    /* position: relative; */
    /* text-align: center; */
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
.link-container .hero-link:first-child {
    grid-column: 2;
}
.link-container .hero-link:nth-child(2) {
    grid-row:2;
}
.link-container .hero-link:nth-child(3) {
    grid-column:3;
    grid-row: 2;

}
.link-container .hero-link:nth-child(4) {
    grid-row: 3;
}
.link-container .hero-link:last-child {
    grid-row: 3;
    grid-column: 3;
} 
.link-container a img {
    max-width: 40px;
    height: auto;
    display: block;
    padding-bottom: 6px;
}
.video-container {
    /* height: 470px;
    width: 100%; */
    /* height: 550px; */
    height: 590px;
    width:100%;
    position: relative;
    overflow: hidden;
    /* @media (max-width: 767px) {
        height: 325px;
    } */
}
.video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 1;
}
.video-container .video {
    /* position: absolute;
   
    top: 180px;
    left: 0;
    width: 100%;
    height: 470px;
    object-fit: cover; */
    object-fit: cover;
    position: absolute;
    height: 590px;
    width: 100%;
    top: 0;
    left: 0;
    /* @media (max-width: 767px) {
        height: 325px;
    } */
} 
.video-copy-container {
    display: none;
}
.icon-container .icons {
    z-index: 3;
}
.link-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 150px 150px 150px;
        gap: 20px
    }
    .link-container .hero-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link-container .hero-link:first-child {
        grid-column: 3;
    }
    .link-container .hero-link:nth-child(2) {
        grid-column: 2;
        grid-row: 2
    }
    .link-container .hero-link:nth-child(3) {
        grid-column:4;
        grid-row: 2;
    }
    .link-container .hero-link:nth-child(4) {
        grid-column: 2;
        grid-row: 3;
    }
    .link-container .hero-link:last-child {
        grid-column: 4;
        grid-row: 3;
    } 
    .link-text {
        text-align: center;
    }
.section-tile a:hover, 
.midsection a:hover,
.data-container a:hover {
    background-color: #E17F00;
}
.section-tile {
    /* padding: 25px 15px; */
    text-align: center;
}

.section-tile .tile-heading {
    padding: 25px;
}

.section-tile .tile-heading h2, 
.section-tile .tile-container .tile h2,
.tile a {
    text-transform: uppercase;
    color: white;
}
.section-tile .tile-heading h2, .section-tile .tile-heading p {
    color: brown;
}
.section-tile .tile-heading .inter-h2 {
    font-weight: 800;
}
.section-tile .inter-button {
    border-radius: 5px;
}
.tile .source-sans-3-p {
    color: white;
    padding: 0 30px 86px;
    /* margin-bottom: 30px; */
}
.tile {
    background-position: center center;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 42px;
}
.tile .inter-h2 {
    padding-bottom: 50px;
}
.tile.community {
    background-image: url('../src/assets/index/kgs-community.webp');
}
.tile.openings {
    background-image: url('../src/assets/index/kgs-openings.webp');
}
.tile.research {
    background-image: url('../src/assets/index/kgs-research.webp');
}
.tile.service {
    background-image: url('../src/assets/index/kgs-service.webp');
    background-position: left;
}
.section-tile .tile.service .inter-h2 {
    text-transform: capitalize;
}
.tile.service {
    padding: 25px;
    padding-bottom: 40px;
    text-align: left;
}

.tile.service .source-sans-3-p {
    padding-left: 0;
    padding-bottom: 30px;
}

.tile a {
    border: 2px solid white;
    padding: 10px;
    text-decoration: none;
}
/* .tile a:hover {
    background-color: #61ce70;
} */

/* .tile.service video {
    padding-top: 25px;
} */

.tile.service .youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 90vw;
    margin-top: 5vw;
}
.tile.service .youtube-video-container::after {
    display: block;
    content: '';
    padding-top: 56.25%;
}
.tile.service .youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-internships {
    padding: 25px;
}
.section-internships .inter-h2 {
    color: navy;
}
.section-internships .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-internships .inter-button, .section-data .inter-button {
    background-color: #58939E;
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.section-podcast {
    display: none;
}
.section-data {
    padding: 25px;
}

.section-news {
    background-color: #E5E9ED;
    padding: 25px;
}
.section-news .inter-h2 {
    color: #2B3652;
}
.section-news .news-tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px
}
.section-news .news-tile {
    color: navy;
    text-decoration: none;
    width: 175px;
}
.section-news img {
    padding-bottom: 10px;
}

footer {
    background: rgb(61,90,113);
    background: linear-gradient(180deg, rgba(61,90,113,1) 0%, rgba(0,0,0,1) 100%);
    color: #fff;
    padding: 25px;
}
/* footer img {
    padding-bottom: 25px;
}

.footer-social-container {
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    margin-top: 25px;
}
.social {
    background-color: #586D7F;
    border-radius: 5px;
    fill: #fff;
    padding: 10px; 
} */

/* media queries */
/* tablet */
@media (min-width: 550px) {
    /* .nav-menu-button {
        font-size: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
    } */
    .video-container {
        height: 590px;
    }
    .video-container video {
        height: 622px;
    }
    .link-container{
        top: 70px;
    }
    .link-container .hero-link:first-child {
        grid-row: 3;
    }
    .link-container .hero-link:nth-child(4) {
        grid-column: 1;
    }
    .link-container .hero-link:last-child {
        grid-column: 5;
    } 
    .section-tile .tile-heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
    }
    .section-tile .tile-heading .inter-h2 {
        flex: 1;
        align-content: center;
        padding-right: 25px;

    }
    .section-tile .tile-heading .source-sans-3-p {
        border-left: 2px solid brown;
        flex: 2;
        padding-left: 25px;
        text-align: left;
    }
    .tile .inter-h2 {
        padding-bottom: 5px;
    }
    .tile .source-sans-3-p {
        padding:0 110px 30px;
        /* padding-right: 110px; */
    }
    .section-internships .button-container {
        justify-content: flex-start;
    }

	.tile.service .youtube-video-container {
        position: relative;
        overflow: hidden;
        width: 90vw;
    }
    .tile.service .youtube-video-container::after {
        display: block;
        content: '';
        padding-top: 56.25%;
    }
    .tile.service .youtube-video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .section-news .news-tile {
        width: 195px;
    }
}

/* laptop and up */
@media (min-width: 1100px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .logo svg {
        height: 61px;
    }

    .nav-menu-trigger {
        display: none;
    }
    .nav-menu {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        width: 884px;
        /* margin-top: 33px; */
        /* margin-right: 25px; */
    }
    .nav-sub-menu-trigger:before{
        content: "\25be";
        float:right;
        color: brown;
        padding-left: 10px;
        padding-right: 10px;
    }
    .global-nav ul li {
        border: none;
        color: brown;
    }
    .global-nav ul li:last-child {
        border: none;
    }
    /* .hero {
        height: 675px;
    } */
    .hero {
        position: relative;
        /* height: 550px; */
        height: 480px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        z-index: 2;
    }
    .video-container {
        /* height: 674px; */
        height: 484px;
        width: 100vw;
    }
    .link-container {
        grid-template-rows: 80px;
        gap: 40px;
        padding-top: 10px;
        max-width: 1100px;
        margin: auto;
        top: 16px;
        }
    .link-container .hero-link:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    .link-container .hero-link:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
    .link-container .hero-link:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }
    .link-container .hero-link:nth-child(4) {
        grid-column: 4;
        grid-row: 1;
    }
    .link-container .hero-link:last-child {
        grid-column: 5;
        grid-row: 1;
    } 
    .link-container img {
        max-width: 40px;
        height: auto;
        display: block;
    }   
    .link-container .hero-link {
        /* display: flex; */
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid white;
        text-decoration: none;
    }
    .hero-link .link-text {
        padding-bottom: 5px;
        padding-left: 24px;
    }
    .video-copy-container {
        display: block;
        color: white;
        position: relative;
        bottom: 170px;
        left: 170px;
        max-width: 710px;
        z-index: 2;
    }
    .video-copy-container .hero-title {
        padding-bottom: 15px;
    }
    .video-copy-container {
        display: block;
        color: white;
        position: relative;
        /* bottom: 170px; */
        bottom: 184px;
        left: 170px;
        max-width: 710px;
        z-index: 2;
    }
    .video-copy-container .hero-title {
        padding-bottom: 15px;
    }
    .section-tile, .midsection, .section-data {
        background-color: #edf4f6;
    }
    .section-container {
        /* max-width: 90%; */
        width: 90%;
        margin: auto;
        background-color: #fff;
    }
    .tile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }
    .tile-container .tile {
        width: 370px;
    }
    .tile .source-sans-3-p {
        padding: 0 30px 30px;
    }
    .midsection {
        display: flex;
        flex-direction: row;
    }
.midsection .section-container {
        display: flex;
        /* flex-direction: row; */
    }
    .section-internships {
        width: 50vw;
    }
    .section-podcast {
        display: block;
        padding-top: 5vh;
    }
    .tile-container .tile.service {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 40px 95px;
    }
    .service video {
        width: 650px;
    }
    .section-data {
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 0;
    }
    .section-data .section-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 35px 25px;
    }
    .section-data .data-container {
        /* order: 2; */
        padding: 25px;
    }
    .service .service-container h2, .section-data h2 {
        padding-bottom: 40px;
    }
    .section-data img {
        width: 650px;
        /* order: 1; */
    }
    .section-news {
        background-color: #edf4f6;
        padding: 0;
    }
    .section-news .section-container {
        padding: 40px 25px;
    }
    .section-news h2 {
        padding-bottom: 25px;
    }
    .section-news .news-tile {
        /* width: 325px; */
        width: 290px;
    }
}