header {
    background-color: var(--color-white);;
}
header .logo {
    padding: 2vh 0;
}
/* mobile */
.nav-menu-button {
    background-color: #2B3652;
    border: none;
    color: #fff;
    display: flex;
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.nav-menu-button svg {
    display: inline;
    height: 32px;
    width: 32px;
    margin-right: 5px;
}
.global-nav input {
    display: none;
}
.global-nav ul, .nav-sub-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu {
    background-color: #ffffff;
    color: #000;
    display: none;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-menu details[open] {
    background-color: #C9D0DE;
}
.nav-menu details summary {
    padding: 0.75em;
}
.nav-menu details a {
    border: none;
    font-weight: 400;
    padding: 0.75em 1.25em;
}
.nav-menu a:first-child {
    border-top: none;
}
.nav-menu a {
    color: #000;
    display: block;
    padding: 0.75em;
    text-decoration: none;
}

.nav-menu > * {
    border-top: 0.5px solid #253657;
}
.nav-menu > *:first-child {
    border-top: none;
}
.nav-menu.is-open {
    display: block;
    position: absolute;
    width: 100vw;
    z-index: 6;
}
.nav-sub-menu-trigger:before {
    border-left: 0.5px solid black;
    content: "\25be";
    float:right;
    color:#000;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-sub-menu {
    background-color: #E7E9EF;
    overflow: hidden;
}
.nav-sub-menu a {
    color: #000;
    text-decoration: none;
    margin-left:10px;
    margin-right:40px;
}
.global-nav ul li {
    border: 0.5px solid #253657;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    text-transform: uppercase;
}
.global-nav .nav-menu .nav-sub-menu ul li:last-child {
    border-bottom: none;
}

/* media queries */
/* tablet */

/* desktop */
@media (min-width: 1100px) { 

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header .logo {
        width: 35%;
        padding-bottom: 0;
    }
    .global-nav {
        padding-top: 70px;
    }
    .nav-menu-trigger {
        display: none;
    }
    .nav-menu {
        background-color: #fff;
        color: #971B00;
        display: flex;
        justify-content: space-between;
        width: 884px;
    }
    .nav-menu a {
        color: #971B00;
    }
    .nav-menu > * {
        border-top: none;
    }
    .nav-menu details:last-of-type .nav-sub-menu{
        right: 0px;
    }
    .nav-sub-menu {
        display: block;
        position: absolute;
        z-index: 6;
    }
    .nav-menu.is-open, .nav-sub-menu.is-open {
        position: absolute;
    }
    .nav-sub-menu-trigger:before {
        border-left: none;
        content: "\25be";
        float:right;
        color: brown;
        padding-left: 10px;
        padding-right: 10px;
    }
    .global-nav ul li {
        border: none;
        color: brown;
    }
    .global-nav ul li:last-child {
        border: none;
    }
}