<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kentucky Geological Survey, University of Kentucky">
    <title>Kentucky Geological Survey, University of Kentucky</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css_old/styles.css">
    <link rel="stylesheet" href="./css_old/reset.css">
</head>
<body>
    <header>
        <div class="logo">
            <svg>
                <image href="./src/assets/index/uk-kgs-logo-final.webp" x="0" y="0" width="100%" height="100%"/>
            </svg>
        </div>
        <nav class="global-nav inter-nav">
            <div class="nav-menu-trigger">
                <button class="nav-menu-button inter-button" aria-label="Menu">
                    <svg><image href="./src/assets/index/hamburger-button.svg" x="0" y="0" width="100%" height="100%"/></svg>Menu
                </button> 
            </div>
            <div class="nav-menu">
                <details>
                    <summary>Information Services</summary>
                    <ul class="nav-sub-menu">
                        <li><a href="#">Energy</a></li>
                        <li><a href="#">Water</a></li>    
                        <li><a href="#">Hazards</a></li>
                        <li><a href="#">Maps</a></li>
                        <li><a href="#">Community</a></li>
                    </ul> 
                </details>
                <a href="#">Kentucky Geology</a>
                <a href="#">About Us</a>
                <a href="#">Online Maps</a>
                <a href="#">Publications</a>
                <a href="#">Education</a>
                <input type="search" placeholder="Search..." class="search-bar">
            </div>
		</nav>
    </header>
    <main>
        <!-- Video Background -->
        <section class="hero">
            <div class="hero-container">
                <div class="video-container">
                    <div class="link-container">
                        <a class="hero-link inter-nav" href="#">
                            <img src="./src/assets/index/cropped-energy.png">
                            <span class="link-text">Energy &amp; Minerals</span>
                            <!-- <div class="link-hover-container energy">
                                <div class="hover-title-container">
                                    <h3>Energy &amp; Minerals</h3>
                                </div>
                                <div class="hover-text">
                                    <p>Supporting Kentucky's energy sector through research, providing data, and offering expertise on energy resources, including coal, oil, natural gas, and renewable energy, to promote sustainable energy development and informed policy decisions.</p>
                                </div>
                                <div class="hover-links">
                                    <ul>
                                        <li><a href="#">Coal</a></li>
                                        <li><a href="#">Oil and Natural Gas</a></li>
                                        <li><a href="#">Carbon Sequestration</a></li>
                                        <li><a href="#">Critical Minerals</a></li>
                                        <li><a href="#">Gems Lab</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </a>
                        <a class="hero-link inter-nav" href="#">
                            <img src="./src/assets/index/cropped-water.png">
                            <span class="link-text">Water</span>
                        </a>
                        <a class="hero-link inter-nav" href="#">
                            <img src="./src/assets/index/cropped-hazard.png">
                            <span class="link-text">Hazards</span>
                        </a>
                        <a class="hero-link inter-nav" href="#">
                            <img src="./src/assets/index/cropped-maps.png">
                            <span class="link-text">Maps</span>
                        </a>
                        <a class="hero-link inter-nav" href="#">
                            <img src="./src/assets/index/cropped-community.png">
                            <span class="link-text">Community</span>
                        </a>
                    </div>
                    <div class="video-copy-container">
                        <h2 class="hero-title inter-h2">Kentucky Geological Survey</h2>
                        <h1 class="hero-subtitle inter-h1" >Understanding Earth's Resources for our Commonwealth</h1>
                    </div>
                    <video class="video" src="./src/assets/index/video-icon-background.mp4" loop autoplay muted></video>
                </div>
            </div>
        </section>
        <section class="section-tile">
            <div class="section-container">
                <div class="tile-heading">
                    <h2 class="inter-h2">Who we are</h2>
                    <p class="source-sans-3-p">The Kentucky Geological Survey is a state supported research center and public resource within the University of Kentucky. Our mission is to support sustainable prosperity of the Commonwealth, the vitality of its flagship university, and the welfare of its people. We do this by conducting research and providing unbiased information about geologic resources, environmental issues, and natural hazards affecting Kentucky.</p>
                </div>
                <div class="tile-container">
                    <div class="tile community">
                        <h2 class="inter-h2">Community &amp; Education</h2>
                        <p class="source-sans-3-p">Discover comprehensive geological educational resources tailored for K-16 educators and students.<br><br><br></p>
                        <a href="#" class="inter-button">Learn more</a>
                    </div>
                    <div class="tile research">
                        <h2 class="inter-h2">Research &amp; Labs</h2>
                        <p class="source-sans-3-p">Our research and laboratories enhance knowledge and understanding of Kentucky's geological resources, hazards, and water systems to support science-based decision making for the Commonwealth.</p>
                        <a href="#" class="inter-button">Learn more</a>
                    </div>
                    <div class="tile openings">
                        <h2 class="inter-h2">Current Openings</h2>
                        <p class="source-sans-3-p">Check out our current job opportunities and apply today.<br><br><br><br></p>
                        <a href="#" class="inter-button">Learn more</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="midsection">
            <div class="section-container">
                <div class="section-internships">
                    <h2 class="inter-h2">Summer Internship Program</h2>
                    <p class="source-sans-3-p">Dr. Paul Edwin Potter Internship Program participants collaborate with mentors from KGS on 10-week research projects focused on KGS current research areas. Interns develop technical skills, participate in professional development opportunities, and expand their academic networks.
                    </p> 
                    <div class="button-container">
                        <a href="#" class="inter-button">Learn More</a>
                    </div>
                    <img src="./src/assets/index/kgs-internship-sm.webp">
                    <p class="source-sans-3-p-smaller">2023 Potter Internship Program participants</p>
                </div>
				<div class="section-podcast">
                    <iframe title="The Big Blue Rock Pod" allowtransparency="true" height="625" width="100%" style="border: none; min-width: min(50vw, 500px);height:625px;" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/player-v2/?i=d94fw-cf37a4-pbblog-playlist&share=1&download=1&fonts=Arial&skin=3267a3&font-color=auto&rtl=0&logo_link=&btn-skin=60a0c8&size=315" loading="lazy" allowfullscreen=""></iframe>
                </div>
            </div>
        </section>
		
        <section class="section-tile">
            <div class="tile-container">
                <div class="tile service">
                    <div class="service-container">
                        <h2 class="inter-h2">How KGS Serves Our Kentucky Community</h2>
                        
                        <p class="source-sans-3-p">The Kentucky Geological Survey (KGS) traces its roots back to 1838 and has been part of the University of Kentucky since 1948.  Our mission is to support the sustainable prosperity of the Commonwealth, the vitality of its flagship university, and the welfare of its people.</p>

                        <p class="source-sans-3-p">We do this by conducting research and providing unbiased information about the geology and natural resources of Kentucky. We focus on issues relevant to the economic prosperity, environmental quality, and practical well-being of the Commonwealth and its people: the things that can make Kentucky a compelling place to live, work, and do business.</p>

                        <p class="source-sans-3-p">KGS provides technical support to several state agencies and organizations, and a host of local, county, and federal agencies. We also interact with stakeholders from a wide range of community, industry, environmental, and educational groups, and the KGS website provides free public access to our databases, digital map layers, and reports.</p>
                        <a href="#" class="inter-button">Learn more</a>
                    </div>
                   <div class="youtube-video-container">
                        <p>hello world</p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yIvYDxurai4?si=ZIGOG3YK43cEIIxQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>            </div>
        </section>

        <section class="section-data">
            <div class="section-container">
                <div class="data-container">
                    <h2 class="inter-h2">Gateway to Kentucky's Earth Science Data</h2>
                    <p class="source-sans-3-p">The Kentucky Geological Survey provides free public access to comprehensive databases, digital maps, and research reports through user-friendly interactive interfaces—no specialized software required.</p>
                    <br>
                    <p class="source-sans-3-p">Our Earth Analysis Research Library houses over 2,500 rock cores, 16,000 oil/gas well samples, 8,000+ limestone samples, and 5,000+ coal samples. The KGS Groundwater Data Repository contains information on 92,000+ water wells, 5,100 springs, and 58,000 water-quality analyses.</p>
                    <br>
                    <p class="source-sans-3-p">Additional databases document Kentucky's landslides, sinkholes, oil/gas wells, earthquakes, mines, and quarries—all supporting resource exploration, environmental protection, and engineering studies. </p>
                    <br/>
                    <a href="#" class="inter-button">Learn more</a>
                </div>
                <img src="./src/assets/index/kgs-coreviewing.webp">
            </div>
        </section>
        <section class="section-news">
            <div class="section-container">

                <h2 class="inter-h2">KGS News and Announcements</h2>
                <div class="news-tile-container">
                    <a class="news-tile" href="#">
                        <div class="news-tile">
                            <img src="./src/news/SPMLab_point.webp">
                            <div class="news-headline inter-news">SP&M Lab Updates: Exciting Developments in Landslide Research and Flood Modelling</div>
                        </div>
                    </a>
                    <a class="news-tile" href="#">
                        <div class="news-tile">
                            <img src="./src/news/2025_SPaMlogo.webp">
                            <div class="news-headline inter-news">KGS Unveils State-of-the-Art Lab for Flood Modeling Research</div>
                        </div>
                    </a>
                    <a class="news-tile" href="#">
                        <div class="news-tile">
                            <img src="./src/news/2025_seismicseth.webp">
                            <div class="news-headline inter-news">KGS Monitoring Seismic Activity Across Kentucky and Surrounding States</div>
                        </div>
                    </a>
                    <a class="news-tile" href="#">
                        <div class="news-tile">
                            <img src="./src/news/FEMA4_collage.webp">
                            <div class="news-headline inter-news">FEMA grant will help KGS researchers collect hazards data, improve future hazards mitigation</div>
                        </div>
                    </a>
                   <a class="news-tile" href="#">
                        <div class="news-tile">
                            <img src="./src/news/kgs-geologist-disaster-assistance-team-sri-lanka-600x400.webp">
                            <div class="news-headline inter-news">KGS geologist accompanies landslide disaster assistance team to Sri Lanka</div>
                        </div>
                    </a><a class="news-tile" href="#">
                        <div class="news-tile">
                            <img src="./src/news/creelsboroarch.webp">
                            <div class="news-headline inter-news">KGS geologist Steve Martin interviewed on KET’s Kentucky Life about Creelsboro Natural Bridge</div>
                        </div>
                    </a>
                    <!--
                    <a class="news-tile" href="#">
                        <div class="news-tile">
                            <img src="https://placehold.co/600x400@2x.webp">
                            <div class="news-headline inter-news">"
                                Fossil of the Month for August: Orthacanthus"</div>
                            </div>
                        </a><a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">Fossil of the Month for July: Pentremites</div>
                            </div>
                        </a><a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">KGS receives national funding to preserve Kentucky's critical minerals collections</div>
                            </div>
                        </a>
                        <a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">KGS Annual Seminar takes an interdisciplinary approach to geological hazards in Kentucky</div>
                            </div>
                        </a>
                        <a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">Fossil of the Month for March: Conostichus</div>
                            </div>
                        </a>
                        <a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">KGS installs new seismic station inside Mammoth Cave</div>
                            </div>
                        </a>
                        <a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">Fossil of the month for January 2023: Anthraconaia!</div>
                            </div>
                        </a>
                        <a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">KGS Releases Report on July 2022 Landslides in Eastern Kentucky</div>
                            </div>
                        </a>
                        <a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">KGS Releases New Critical Mineral Report</div>
                            </div>
                        </a>
                        <a class="news-tile" href="#">
                            <div class="news-tile">
                                <img src="https://placehold.co/600x400@2x.webp">
                                <div class="news-headline inter-news">Fossil of the month: Crinoid Holdfasts</div>
                            </div>
                        </a> -->
                    </div>
                </div>
            </section>
    </main>
    <footer>
		<div class="footer-container">
            <div class="footer-logo">
                <img src="./src/assets/index/uk-kgs-logo-white.png">
                <address class="footer-address inter-footer">
                    Kentucky Geological Survey<br/>
                    University of Kentucky<br/>
                    310 Columbia Avenue<br/>
                    Lexington, KY 40506-0107<br/> 
                    Telephone: <a href="tel:8592575500">(859) 257-5500</a>
                </address>
            </div>
            <details class="source-sans-3-footer-details">
                <summary>Key Information</summary>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Kentucky Geology</a></li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Online Maps</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Job Opportunities</a></li>
                    <li><a href="#">Data Information Portal</a></li>
                </ul>
            </details>                 
            <details class="source-sans-3-footer-details">
                <summary>Connect with KGS</summary>
                <ul>
                    <li><a href="#"><img src="./src/assets/index/icon-ig-svg.svg"> Follow on Instagram</a></li>
                    <li><a href="#"><img src="./src/assets/index/icon-fb-svg.svg"> Find on Facebook</a></li>
                    <li><a href="#"><img src="./src/assets/index/icon-x-svg.svg"> Follow on X</a></li>
                    <li><a href="#"><img src="./src/assets/index/icon-li-svg.svg"> Follow on LinkedIn</a></li>
                    <li><a href="#"><img src="./src/assets/index/icon-yt-svg.svg"> Watch on YouTube</a></li>
                </ul>
            </details>
            <details class="source-sans-3-footer-details">
                <summary>Get Help</summary>
                <ul>
                    <li><a href="#">Help & FAQs</a></li>
                    <li><a href="#">Contacts & Hours</a></li>
                    <li><a href="#">Directory</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Request Information</a></li>
                </ul>
            </details>
        </div>
        <div class="footer-nav source-sans-3-footer-misc">
            Copyright &copy; University of Kentucky | 
            <a href="#">Privacy</a> | 
            <a href="#">Consumer Information</a> | 
            <a href="#">EOP/ADA/Title IX</a> | 
            <a href="#">Jobs at KGS</a> | 
            <a href="#">Human Resources</a> | 
            <a href="#">Site Feedback</a> | 
            <a href="#">Accreditation</a> 
        </div>
        <div class="footer-blurb source-sans-3-footer-misc">
            <p>University of Kentucky is an equal access/equal opportunity institution which does not discriminate on the basis of sex, race, color, marital status, age, religion, national origin, disability, veteran’s status, ethnicity, pregnancy, sexual orientation or genetic information. To obtain more information about University of Kentucky’s equal access and equal opportunity policies, procedures and practices, please contact the University’s Equity Officer.
                <a href="mailto:EquityOffice@uk.edu">EquityOffice@uk.edu</a>
            </p>
        </div>
	</footer>
    <script src="./js/script.js"></script>
</body>
</html>
