---
import Layout from "../../layouts/Layout.astro";
import directus from "../../../lib/directus";
import { readItems, readItem } from "@directus/sdk";

export async function getStaticPaths() {
  const posts = await directus.request(readItems("articles", {
    fields: ['*', { relation: ['*'] }],
  }));
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }));
}
const article = Astro.props;
---

<Layout title={article.title}>
  <main>
    <img src={`http://10.165.129.33:8055/assets/${article.image}?width=500`} />
    <h1>{article.title}</h1>
    <div set:html={article.content} />
  </main>
</Layout>