---
import '../../styles/footer.css';
// Footer component with contact info and links
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="../../src/assets/index/uk-kgs-logo-white.png">
      <address class="footer-address inter-footer">
          Kentucky Geological Survey<br/>
          University of Kentucky<br/>
          504 Rose Street<br/>
          Lexington, KY 40506<br/> 
          Telephone: <a href="tel:8592575500">(859) 257-5500</a><br/>
          Email: <a href="mailto:info@kgs.uky.edu">info@kgs.uky.edu</a>
      </address>
    </div>
    <details class="source-sans-3-footer-details">
      <summary>Key Information</summary>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Kentucky Geology</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Online Maps</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Job Opportunities</a></li>
            <li><a href="#">Data Information Portal</a></li>
        </ul>
    </details>                 
    <details class="source-sans-3-footer-details">
        <summary>Connect with KGS</summary>
        <ul>
            <li><a href="#"><img src="../../src/assets/index/icon-ig-svg.svg"> Follow on Instagram</a></li>
            <li><a href="#"><img src="../../src/assets/index/icon-fb-svg.svg"> Find on Facebook</a></li>
            <li><a href="#"><img src="../../src/assets/index/icon-x-svg.svg"> Follow on X</a></li>
            <li><a href="#"><img src="../../src/assets/index/icon-li-svg.svg"> Follow on LinkedIn</a></li>
            <li><a href="#"><img src="../../src/assets/index/icon-yt-svg.svg"> Watch on YouTube</a></li>
        </ul>
    </details>
    <details class="source-sans-3-footer-details">
        <summary>Get Help</summary>
        <ul>
            <li><a href="#">Help & FAQs</a></li>
            <li><a href="#">Contacts & Hours</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Request Information</a></li>
        </ul>
    </details>
</div>
<div class="footer-nav source-sans-3-footer-misc">
    Copyright &copy; {currentYear} University of Kentucky | 
    <a href="#">Privacy</a> | 
    <a href="#">EOP/ADA/Title IX</a> | 
    <a href="#">Jobs at KGS</a> | 
    <a href="#">Human Resources</a> | 
    <a href="#">Site Feedback</a> | 
    <a href="#">Accreditation</a> 
</div>
<div class="footer-blurb source-sans-3-footer-misc">
    <p>University of Kentucky is an equal access/equal opportunity institution which does not discriminate on the basis of sex, race, color, marital status, age, religion, national origin, disability, veteran’s status, ethnicity, pregnancy, sexual orientation or genetic information. To obtain more information about University of Kentucky’s equal access and equal opportunity policies, procedures and practices, please contact the University’s Equity Officer.
        <a href="mailto:EquityOffice@uky.edu">EquityOffice@uky.edu</a>
    </p>
  </div>
</footer>