---
// Header component with navigation

// Props for active page highlighting
export interface Props {
  activePage?: string;
}

const { activePage = '' } = Astro.props;
---

<header>
  <div class="logo">
    <img src ="/src/assets/index/uk-kgs-logo-final.webp" alt="UK KGS Logo" />
  </div>
  <nav class="global-nav inter-nav">
    <div class="nav-menu-trigger">
      <button class="nav-menu-button inter-button" aria-label="Menu">
        <svg><image href="/src/assets/index/hamburger-button.svg" x="0" y="0" width="100%" height="100%"/></svg>Menu
      </button> 
    </div>
    <div class="nav-menu">
      <details name="nav">
        <summary>Research</summary>
          <ul class="nav-sub-menu">
            <li><a href="/research/critmins/">Critical Minerals & Geochemistry</a></li>    
            <li><a href="/research/quakes/">Earthquakes & Geophysics</a></li>
            <li><a href="/research/envirogeo/">Environmental Geology</a></li>
            <li><a href="/research/energy/">Fossil Energy & Energy Infrastructure</a></li>
            <li><a href="/research/geohealth/">GeoHealth</a></li>
            <li><a href="/research/water/">Hydrogeology & Water Resources</a></li>
            <li><a href="/research/karst/">Karst</a></li>
            <li><a href="/research/landslides/">Landslides & Engineering Geology</a></li>
            <li><a href="/research/sedstruct/">Structure & Stratigraphy</a></li>
            <li><a href="/research/surface/">Surface Processes & Landscapes</a></li>
            <li><hr></li>
            <li><a href="/labs/">Research Labs</a></li>
            <li><a href="/funding/">Sponsored Projects</a></li>
          </ul> 
      </details>
      <details name="nav">
        <summary>Maps &amp; Data</summary>
          <ul class="nav-sub-menu">
            <li><a href="https://kgs.uky.edu/geomap">Geologic Map Service</a></li>    
            <li><a href="https://kgs.uky.edu/kygeode/services/oilgas/">Oil &amp; Gas Data</a></li>
            <li><a href="https://kgs.uky.edu/kgsweb/DataSearching/watersearch.asp">Groundwater Data</a></li>
            <li><a href="https://kgs.uky.edu/kgsweb/DataSearching/coalsearch.asp]">Coal Data</a></li>
            <li><a href="https://kgs.uky.edu/kgsmap/kytcLinks.asp">Geotechnical Data</a></li>
            <li><a href="https://www.uky.edu/KGS/earthquake">Seismic Recordings</a></li>
            <li><a href="https://kgs.uky.edu/kygeode/">KyGeode - Portal to KGS Maps and Data</a></li>
          </ul> 
      </details>
      <details name="nav">
        <summary>Pubs &amp; Collections </summary>
          <ul class="nav-sub-menu">
            <li><a href="https://kgs.uky.edu/kygeode/services/pubs/">Publications Catalog</a></li>    
            <li><a href="https://kgs.uky.edu/kygeode/services/cslib/">Rock Core &amp; Photos</a></li>
            <li><a href="https://kgs.uky.edu/kygeode/services/thins/">Thin Sections</a></li>
            <li><a href="https://kgs.uky.edu/kgsweb/newgeology/image_search.asp">Photo &amp; Images</a></li>
            <li><a href="https://www.uky.edu/KGS/education/factsheet.php">KGS Fact Sheets</a></li>
            <li><a href="https://www.uky.edu/KGS/aboutKGS/annual-report-list.php">KGS Annual Reports</a></li>
          </ul> 
      </details>
      <a href="https://www.uky.edu/KGS/education/">Education</a>
      <details name="nav">
        <summary>Kentucky Geology</summary>
          <ul class="nav-sub-menu">
            <li><a href="https://www.uky.edu/KGS/geoky/">General Geology</a></li>    
            <li><a href="https://www.uky.edu/KGS/rocksmineral/">Rocks &amp; Minerals</a></li>
            <li><a href="https://www.uky.edu/KGS/fossils/">Fossils</a></li>
            <li><a href="https://www.uky.edu/KGS/coal/">Coal</a></li>
            <li><a href="/kygeology/minerals">Mineral Resources</a></li>
          </ul> 
      </details>
      <details name="nav">
        <summary>About Us</summary>
          <ul class="nav-sub-menu">
            <li><a href="/about/">About KGS</a></li>    
            <li><a href="/about/locations">Locations &amp; Facilities</a></li> 
            <li><a href="/news/">News &amp; Announcements</a></li>
            <li><a href="/about/mission/">Misson, Vision, &amp; Values</a></li>
            <li><a href="/about/dmp/">Data Management Policy</a></li>
            <li><a href="/about/jobs/">Job Opportunities</a></li>
            <li><a href="/about/intern">Internships</a></li>
            <li><a href="/about/orgs/">Associated Organizations</a></li>
            <li><a href="/about/board/">Advisory Board</a></li>
            <li><a href="/staff/">KGS Staff &amp; Affiliates</a></li>
          </ul> 
      </details>
      <input type="search" placeholder="Search..." class="search-bar">
    </div>
  </nav>
</header>

<script src="/src/js/script.js"></script>